{% extends "admin/adminbase.html.twig" %}
{% block body %}


<div class="container-fluid text-center mt-5 d-flex justify-content-center">
    <div class="form_register_s text-center border">
        <h1>{{title}}</h1>
        <div class="d-flex justify-content-center">
            {{ form(form) }}
        </div>
        
    </div>


</div>
{% endblock %}